<div class="biography">

<div class="flex">
  <%= image_tag "IMG_3439.JPG", class:"bd-placeholder-img card-img-top", height:"600px" %>
  <%= image_tag "IMG_3440.JPG", class:"bd-placeholder-img card-img-top", height:"600px" %>
  <%= image_tag "IMG_3441.JPG", class:"bd-placeholder-img card-img-top", height:"600px" %>
</div>

<div>