<div class="sample-box">
    <%= image_tag "muto2.jpg", class:"back" %>
    
</div>


<br><br>


<h2> &ensp; Youtube</h2>
<br>
  <p><iframe width="560" height="315" src="https://www.youtube.com/embed/7mHFduxYnQk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>
  <p><iframe width="560" height="315" src="https://www.youtube.com/embed/hJHDtv9UZxE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>
<br>

<h2> &ensp; Twitter</h2>
<p>
<a class="twitter-timeline" data-width="300" data-height="500" href="https://twitter.com/Jazzpianist7?ref_src=twsrc%5Etfw">Tweets by Jazzpianist7</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</p>
<br>


<h2> &ensp; Event</h2>
<%= render 'shared/event' %>

