<ul class="nav nav-tabs justify-content-center">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="#">Programing</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Money</a>
  </li> 
  <li class="nav-item">
    <a class="nav-link" href="#">Book</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Travel</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">About</a>
  </li>
</ul>

<div class="card bg-white text-black border-white">
  <%= image_tag "IMG_2778.jpeg", class:"bd-placeholder-img card-img-top", height:"400" %>
  <div class="card-img-overlay mt-4">
    <div class="top-title text-white">
      <h1>WELCOME</h1>
      <h1>to</h1>
      <h1>Sousou-blog</h1>
    </div>
  </div>
</div>

  <div class="container">
  <div class="row row-cols-3">
    <% @articles.each do |article| %>
      <div class="card-deck">
        <div class="card mx-3 mt-3">
        <%= link_to image_tag(article.image, class:"card-img", width:"400", height:"400"), article_path(article.id), method: :get %>
          <div class="card-body">
            <p class="card-title"><%= article.text.truncate(20) %></p>
            <p class="card-title"><%= article.title.truncate(20) %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>