<div class="sample-box">
    <%= image_tag "muto2.jpg", class:"back" %>
    
</div>


<br><br>


<h2> &ensp; Youtube</h2>
<br>
<p><iframe width="560" height="315" src="https://www.youtube.com/embed/cZTkmaYEnBI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>
<p><iframe width="560" height="315" src="https://www.youtube.com/embed/cFBlQHQxzEY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>
<br>

<h2> &ensp; Twitter</h2>
<p>
<a class="twitter-timeline" data-width="300" data-height="500" href="https://twitter.com/Jazzpianist7?ref_src=twsrc%5Etfw">Tweets by Jazzpianist7</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</p>
<br>


<h2> &ensp; Event</h2>
<div class="lililili">2021年6月のスケジュール</div>
<br>
<div class="lili">2021.06.01.Tue.</div><span>※中止となりました。</span>
<div class="lilili">Place:新宿someday Member:竹内直(ts) old&new jazz dream orchestra</div>
<div class="lilili">赤塚謙一(tp)山田丈造(tp)忍田耕一(tb)中山拓海(as)伴田裕(ts)大塚義将(b)吉岡大輔(d)</div>
<br>
<div class="lili">2021.06.03.Thu.</div>
<div class="lilili">Place:吉祥寺strings Member:酒井麻生代(fl)</div>
<br>
<div class="lili">2021.06.09.Wed.</div>
<div class="lilili"> Place:赤坂G’s bar Member:石田裕人(ts)カルテット/山田ヒロシ(b)深水洋(d)</div>
<br>
<div class="lili">2021.06.14.Mon</div>
<div class="lilili">Place:下北沢rpm Member:ツルジャム/鶴田伸雅(g)TJ(sax)臼井岳(b)植草徳志(d)</div>
<br>
<div class="lili">2021.06.15.Tue</div>
<div class="lilili">Place:新高円寺さくたみ Member:佐藤忍(b)トリオ シノブス/坂本貴啓(d)</div>
<br>
<div class="box8">
    <p>
<div class="lili">2021.06.16.Wed.</div>
<div class="lilili">
  <div class="readerlive">☆武藤勇樹リーダーライブ</div>
</div>
<div class="lilili">@日吉WWY Member:武藤勇樹(p)トリオ guest須田晶子(vo)/寺尾陽介(b)坂本貴啓(d)</div>
<div class="lilili">Time:open18:00/start19:00</div>
</p>
</div>
<br>
<div class="lili">2021.06.17.Thu</div>
<div class="lilili">@赤坂dot&blue Member:赤坂バンド/Kazui(b)鶴田伸雅(g)守真人(d)</div>
<br>
<div class="lili">2021.06.18.Fri.</div>
<div class="lilili">@八王子Kayo’s bar Member:伊地知晋平(ts)</div>
<br>
<div class="lili">2021.06.19.Sat.</div>
<div class="lilili">@池袋P’s bar Member:高井健(vo,g)</div>
<br>
<div class="lili">2021.06.20.Sun</div>
<div class="lilili">@桐生village Member:小和瀬さとみ(vo)鈴木梨花子(per)</div><br>
<div class="lili">2021.06.23.Wed.</div>
<div class="lilili"> @吉祥寺strings Member:Remi(vo)冨樫マコト(b)</div><br>
<div class="lili">2021.06.25.Fri.</div>
<div class="lilili">@池袋apple jump Member:入山ひとみ(vn)山本裕之(b)</div><br>
<div class="lili">2021.06.26.Sat.</div>
<div class="lilili">@町田Nica’s Member:西村健司(tb)セクステット</div>
<div class="lilili">河原真彩(tp)小笠原涼(sax)長谷川慧人(b)大江航平(d)</div><br>
<div class="lili">2021.06.29.Tue.</div>
<div class="lilili">@蕨our delight Member:ツインピアノ/後藤沙紀(p)</div><br>
<br>
<br><br>