<div class="flex">
  <%= image_tag "IMG_3439 2.JPG", class:"bd-placeholder-img card-img-top", height:"600px" %>
  <%= image_tag "IMG_3440.JPG", class:"bd-placeholder-img card-img-top", height:"600px" %>
  <%= image_tag "IMG_3441.JPG", class:"bd-placeholder-img card-img-top", height:"600px" %>
</div>
  <%= image_tag "IMG_3442.JPG", class:"bd-placeholder-img card-img-top" %>

<br><br>

<ul class="event">
<h2>Youtube</h2>
<div class="Youtube">Coming Soon...</div>
<br><br>
</ul>

<ul class="event">
<h2>Event</h2>
<li class="lili">2021.5.23.SUN @八王子Kayo’s bar w/伊地知晋平(sax) Tipping  <span>※中止となりました。</span></li>
<br>
<li class="lili">2021.5.26.Wed @国分寺M’s w/山本真理子(vo)佐藤忍(b) <span>※中止となりました。</span></li>
<br>
<li class="lili">2021.5.27.Thu @赤坂G’s bar TOMTOM w/JIMI橋詰(d)田村さおり(fl)三浦トオル(b) start18:00 Tipping</li>
<br>
<li class="lili">2021.5.28.Fri @荻窪Rooster w/Remi(vo)小和瀬さとみ(vo)進藤洋樹(g) open17:30/start18:00 mc3000</li>
<br>
<li class="lili">2021.5.29.Sat @広尾プラザ w/Remi(vo)パットグリン(b) <span>※中止となりました。</span></li>
<br>
<li class="lili">2021.5.29.Sat @希望ヶ丘CASK w/松木翠(vo)中村新太郎(b) start18:00 ツイキャス配信あり(20:30~)</li>
<br>
<li class="lili">2021.5.30.Sun @草加sugar hill w/入山ひとみ(vn) open14:00/start15:00<li>
</ul>
<br>
<br><br>