<div class="mx-auto" style="width: 1150px;">
<div class="card" style="width: 70rem;">
  <div class="card-body">
  <div class="flex">
    <h5 class="card-title">Title：</h5>
    <h5 class="card-title"><%= @article.title %></h5>
  </div>
    <p class="card-text"><%= @article.text %></p>
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div>
</div>
</div>