<nav aria-label="breadcrumb">
  <ol class="breadcrumb mx-3">
    <%= link_to "Home", root_path, class: "breadcrumb-item" %>
    <li class="breadcrumb-item active" aria-current="page">記事一覧</li>
  </ol>
</nav>