<div class="lililili">2021年8月スケジュール</div>
<br>
<h4><span>※時間等は状況に応じて変更になる可能性があります。</span></h4>
<br>
<div class="lili">2021.08.01.Sun</div>
<div class="lilili">@自由が丘hyphen
<br>
Member:飯嶋ももこ(vo)吉川大介(b)高野正明(d)
<br>Time:open18:00/start18:30
<br>mc3500
<br>配信2000<%=link_to("http://ptix.at/k0nGeS") do %>（詳細はこちらから）
<% end %>
</div>
<br>
<div class="lili">2021.08.05.Thu</div>
<div class="lilili">@草加sugar hill
<br>
Member:入山ひとみ(vn)
<br>
Time:open18:30/start19:00
<br>
後半配信あり
</div>
<br>
<div class="lili">2021.08.06Fri.</div>
<div class="lilili">@希望ヶ丘CASK
<br>
シノブス
<br>
Member:佐藤忍(b)坂本貴啓(d)
</div>
<br>
<div class="lili">2021.08.07.Sat.</div><span>※中止になりました</span>
<div class="lilili">@阿佐ヶ谷スタッカート
<br>
Member:Remi(vo)
</div>
<br>

<div class="lili">2021.08.08.Sun</div>
<div class="lilili">@赤坂G’s bar
<br>
Member:石田裕人(ts)青木知生(as)山田ヒロシ(b)深水洋(d)
<br>
Time:open17:00/start17:45
</div>
<br>
<div class="lili">2021.08.12.Thu.</div>
<div class="lilili">@草加sugar hill
<br>
Member:鈴木梨花子(perc)
<br>
Time:open18:30/start19:00
</div>
<br>
<div class="lili">2021.08.15.Sun.</div>
<div class="lilili">@平塚
<br>
Member:小笠原涼(ts)鈴木堅登(b)
</div>
<br>
<div class="lili">2021.08.20.Fri.</div>
<div class="lilili">@八王子Kayo’s bar
<br>
Member:伊地知晋平(ts)
<br>
Time:start18:00
</div>
<br>
<div class="lili">2021.08.21.Sat.</div>
<div class="lilili"> @希望ヶ丘CASK
<br>
小笠原涼(ts)カルテットレコ発
<br>
Member:鈴木堅登(b)奥村純平(d)
<br>
Time:start11:30
</div>
<br>
<div class="lili">2021.08.24.Tue.</div><span>※追加公演決まりました!</span>
<div class="lilili">@下北沢RPM
<br>
ツルジャム
<br>
Member:鶴田伸雅(g)/TJ(sax)/臼井岳(b)/植草徳志(d)
<br>
</div>
<br>

<div class="lili">2021.08.26.Thu.</div>
<div class="lilili">@赤坂G’s bar
<br>
Young&Fine
<br>
Member:JIMI橋詰(d)三浦トオル(b)
<br>
Time:open19:00/start20:00
</div>
<br>
<div class="lili">2021.08.28.Sat.</div>
<div class="lilili">@赤坂クローフィッシュ
<br>
Member:中島有美(vo)
</div>
<br>
<div class="lili">2021.08.29.Sun.</div>
<div class="lilili">@蕨our delight
<br>
Member:酒井麻生代(fl)
<br>
Time:open13:30/start14:00
<br>
Fee:mc一般3100/学生(29歳以下)1100
</div>
<br>