<div class="lililili">2022年3月スケジュール</div>
<br>
<h4><span>※日時等は状況に応じて変更になる可能性があります。</span></h4>
<br>
<div class="lili">2022.3.1.Tue.</div>
<div class="lilili"> @阿佐ヶ谷Staccato
<br>
Member:Remi(vo)酒井麻生代(fl)
<br>
Time:start19:00
<br>
mc¥3000
</div>
<br>

<div class="lili">2022.3.4.Fri.</div>
<div class="lilili"> @希望ヶ丘CASK
<br>
シノブス
<br>
Member:佐藤忍(b)坂本貴啓(d)
<br>
Time:start19:00
<br>
mc¥2500
</div>
<br>

<div class="lili">2022.3.5.Sat.</div>
<div class="lilili"> @町田Nica’s
<br>
西村健司セクステット
<br>
Member:西村健司(tb)河原真彩(tp)小笠原涼(ts)長谷川慧人(b)大江航平(d)
<br>
Time:open18:30/start19:00
<br>
mc一般¥3500/予約¥3300
</div>
<br>

<div class="lili">2022.3.10.Thu.</div>
<div class="lilili"> @赤坂G’s bar
<br>
美沙樹と勇樹
<br>
Member:矢元美沙樹(ts)三浦トオル(b)JIMI橋詰(d)
<br>
Time:open19:00/start20:00
<br>
投げ銭
</div>
<br>

<div class="lili">2022.3.11.Fri.</div>
<div class="lilili"> @池袋P’s bar
<br>
Member:飯嶋ももこ(vo)
<br>
Time:open18:30/start19:00
<br>
mc:¥2200
</div>
<br>

<div class="lili">2022.3.13.Sun.</div>
<div class="lilili"> @六本木All of me club
<br>
Member:あさばみほ(vo)Izumi(fl)
<br>
Time:open12:00/start13:00
<br>
mc¥3000
</div>
<br>

<div class="lili">2022.3.15.Tue.</div>
<div class="lilili"> @大塚Donfan
<br>
中山拓海カルテット
<br>
Member:中山拓海(as)三嶋大輝(b)田浦季樹(d)
<br>
Time:start19:30
<br>
mc:¥3000
</div>
<br>

<div class="lili">2022.3.18.Fri.</div>
<div class="lilili"> @八王子Kayo’s bar
<br>
Member:伊地知晋平(ts)
<br>
Time:start20:00
<br>
投げ銭
</div>
<br>

<div class="lili">2022.3.19.Sat.</div>
<div class="lilili"> @蕨our delight
<br>
Twin Piano!
<br>
Member:豊秀彩華(p)
<br>
Time:start13:00
<br>
mc:¥3100
</div>
<br>

<div class="lili">2022.3.19.Sat.</div>
<div class="lilili"> @池袋P’s bar
<br>
Member:菅野ヒロヤス(vo)
<br>
Time:open17:30/start18:00
<br>
mc¥2200
</div>
<br>

<div class="lili">2022.3.20.Sun.</div>
<div class="lilili"> @草加Sugar Hill
<br>
Member:鈴木梨花子(perc)
<br>
Time:open12:30/start13:30
<br>
mc¥3000
</div>
<br>

<div class="lili">2022.3.20.Sun.</div>
<div class="lilili"> @西新井カフェクレール
<br>
Member:牧山純子(vn)嶌田憲二(b)
<br>
Time:open17:00/start17:40
<br>
mc¥3850
</div>
<br>

<div class="lili">2022.3.25.Fri.</div>
<div class="lilili"> @赤坂G’s bar
<br>
TOMTOM
<br>
Member:田村さおり(fl)三浦トオル(b)JIMI橋詰(d)
<br>
Time:open19:00/start20:00
<br>
投げ銭
</div>
<br>

<div class="lili">2022.3.26.Sat.</div>
<div class="lilili"> @希望ヶ丘CASK
<br>
小笠原涼カルテット
<br>
Member:小笠原涼(ts)鈴木堅登(b)奥村純平(d)
<br>
Time:open15:00/start16:00
<br>
mc:¥3000
</div>
<br>

<div class="lili">2022.3.27.Sun.</div>
<div class="lilili"> @新宿Pit inn
<br>
Member:佐藤恭子(as)
<br>
Time:open19:00/start19:30
<br>
mc:¥3300
</div>
<br>

<div class="lili">2022.3.31.木.</div>
<div class="lilili"> @大泉学園inF
<br>
坂本貴啓オーケストラ
<br>
Member:坂本貴啓(acc)田村麻紀子(cl)宮崎達也(fl,sax)
<br>
Time:start20:00
<br>
mc:¥3000
</div>
<br>
