<div class="lililili">2022年6月スケジュール</div>
<br>
<h4><span>※日時等は状況に応じて変更になる可能性があります。</span></h4>
<br>

<div class="lili">2022.6.2.Thu.</div>
<div class="lilili"> @松山MONK
<br>
西村健司セクステット 瀬戸内ドキドキワクワクツアー2022
<br>
Member:河原真彩(tp)西村健司(tb)小笠原涼(ts)長谷川慧人(b)大江航平(d)
<br>
Time:open18:30/start19:00
<br>
mc:¥3500/学生¥3000
</div>
<br>


<div class="lili">2022.6.3.Fri.</div>
<div class="lilili"> @岡山Bird
<br>
西村健司セクステット 瀬戸内ドキドキワクワクツアー2022
<br>
Member:河原真彩(tp)西村健司(tb)小笠原涼(ts)長谷川慧人(b)大江航平(d)
<br>
Time:open19:30/start20:00
<br>
mc:¥3000/学生¥2500
</div>
<br>


<div class="lili">2022.6.5.Sun.</div>
<div class="lilili"> @広島Juke
<br>
西村健司セクステット 瀬戸内ドキドキワクワクツアー2022
<br>
Member:河原真彩(tp)西村健司(tb)小笠原涼(ts)長谷川慧人(b)大江航平(d)
<br>
Time:open13:00/start13:00
<br>
mc:¥3000
</div>
<br>


<div class="lili">2022.6.7.Tue.</div>
<div class="lilili"> @大泉学園inF
<br>
坂本貴啓オーケストラ 木管アンサンブル
<br>
Member:宮崎達也(fl,sax)田村麻紀子(cl)坂本貴啓(acc,d)
<br>
Time:start20:00
<br>
mc:¥3000
<br>
※オーボエメインでの出演となります。
</div>
<br>


<div class="lili">2022.6.9.Thu.</div>
<div class="lilili"> @新高円寺さくたみ
<br>
Member:永井由紀生(vo)佐藤忍(b)
<br>
Time:start19:00
<br>
mc:¥3500
</div>
<br>



<div class="lili">2022.6.12.Sun.</div>
<div class="lilili"> @赤坂見附velera
<br>
川本悠自クインテット
<br>
Member:寝占友梨絵(vo)杉本匡教(ts)川本悠自(b)河村亮(d)
<br>
Time:start18:00
<br>
mc:¥4000
</div>
<br>


<div class="lili">2022.6.16.Thu.</div>
<div class="lilili"> @赤坂G’s bar
<br>
美沙樹と勇樹
<br>
Member:矢元美沙樹(ts)三浦トオル(b)JIMI橋詰(d)
<br>
Time:open19:00/start20:00
<br>
投げ銭
</div>
<br>


<div class="lili">2022.6.17.Fri.</div>
<div class="lilili"> @八王子Kayo’s bar
<br>
Member:伊地知晋平(ts)
<br>
Time:open20:00/start20:30
<br>
投げ銭
</div>
<br>


<div class="lili">2022.6.18.Sat.</div>
<div class="lilili"> @小川町Lydian
<br>
Liliトリオ
<br>
Member:Lili(vo)中島香里(vib)
<br>
Time:open13:00/start13:30
<br>
mc:¥3400
</div>
<br>


<div class="lili">2022.6.18.Sat</div>
<div class="lilili"> @立川Jesse James
<br>
吉村樹里 with Gloopy Group
<br>
Member:吉村樹里(vo)篠崎賢(tp)金澤力哉(b)大木拓也(d)
<br>
Time:open18:00/start19:00
<br>
mc:¥3500
</div>
<br>


<div class="lili">2022.6.22.Wed.</div>
<div class="lilili"> @銀座the deep
<br>
Member:酒井麻生代(fl)
<br>
Time:open19:00/start19:30
<br>
mc:¥3080
</div>
<br>


<div class="lili">2022.6.23.Thu.</div>
<div class="lilili"> @四ツ谷doppo
<br>
Member:山下Topo洋平(que,zmp)
<br>
Time:open18:30/start19:00
<br>
mc:¥3000
</div>
<br>


<div class="lili">2022.6.24.Fri.</div>
<div class="lilili"> @赤坂G’s bar
<br>
TOMTOM
<br>
Member:田村さおり(fl)三浦トオル(b)JIMI橋詰(d)
<br>
Time:open19:00/start20:00
<br>
投げ銭
</div>
<br>


<div class="lili">2022.6.25.</div>
<div class="lilili"> @下北沢Music Island O
<br>
Gloopy Group 1st album “on this Fright” Release Live
<br>
Member:篠崎賢(tp)金澤力哉(b)大木拓也(d)
<br>
Time:open19:00/start19:30
<br>
mc:¥3000
</div>
<br>


<div class="lili">2022.6.28.Tue.</div>
<div class="lilili"> @南大塚le chat et l'ange
<br>
Member:高井健(vo)
<br>
Time:start19:00
<br>
mc:¥
</div>
<br>


<div class="lili">2022.6.29.Wed.</div>
<div class="lilili"> @新宿Pit inn
<br>
竹内直 old&new dream jazz orchestra
<br>
Member:赤塚謙一(tp,hr)山田丈造(tp)忍田耕一(tb)中山拓海(as)竹内直(ts,cl)伴田裕(bs)大塚義将(b)吉岡大輔(d)
<br>
Time:open19:00/start19:30
<br>
mc:¥3850
</div>
<br>


<div class="lili">2022.6.30.Thu.</div>
<div class="lilili"> @渋谷琥珀
<br>
利光玲奈トリオ
<br>
Member:三嶋大輝(b)利光玲奈(d)
<br>
Time:open19:00/start19:30
<br>
mc:¥投げ銭
</div>
<br>
<br><br><br><br>