<div class="lililili">2022年1月スケジュール</div>
<br>
<h4><span>※日時等は状況に応じて変更になる可能性があります。</span></h4>
<br>

<div class="lili">2022.1.7.Fri.</div>
<div class="lilili"> @名古屋WIZ
<br>
＜Remi1stアルバム発売記念ライブ＞
<br>
Member:Remi(vo)長谷川英喜(b)奥村将和(d)
<br>
Time:open18:00/start19:00
<br>
mc:予約¥3600/当日¥3900
</div>
<br>

<div class="lili">2022.1.8.Sat.</div>
<div class="lilili"> @大阪Royal Horse
<br>
＜Remi1stアルバム発売記念ライブ＞
<br>
Member:Remi(vo)
<br>
Time:open17:30/start19:00
<br>
mc:S席¥3,500/A席¥2,950
</div>
<br>

<div class="lili">2022.1.9.Sun.</div>
<div class="lilili"> @富士Köln
<br>
＜Remi1stアルバム発売記念ライブ＞
<br>
Member:Remi(vo)
<br>
Time:open17:00/start18:00
<br>
mc:¥3,000
</div>
<br>

<div class="lili">2022.1.10.Mon</div>
<div class="lilili"> @希望ヶ丘CASK
<br>
トモぴょん Birthday Live
<br>
Member:トモぴょん(tp)大山日出男(as)富永正寿(ts)佐藤忍(b)公手徹太郎(d)
<br>
Time:open16:30/start17:00
<br>
mc:¥2,500
</div>
<br>

<div class="lili">2022.1.15.Sat.</div>
<div class="lilili"> @神保町on a slow boat to...
<br>
＜Remi1stアルバム発売記念ライブ＞
<br>
Member:Remi(vo)
<br>
Time:open18:00/start19:00
<br>
mc:¥2,500
</div>
<br>

<div class="lili">2022.1.18.Tue.</div>
<div class="lilili"> @池袋P’s bar
<br>
Member:海堀弘太(p/tp)
<br>
Time:open18:30 start19:00
<br>
mc:¥2,200
</div>
<br>

<div class="lili">2022.1.19.Wed.</div>
<div class="lilili"> @八王子MatchVox
<br>
KAYOKO’s plus
<br>
Member:KAYOKO(vo)伊地知晋平(ts)
<br>
Time:未定
<br>
※対バンのイベントとなります。
</div>
<br>

<div class="lili">2022.1.21.Fri.</div>
<div class="lilili"> @八王子Kayo’s bar
<br>
Member:伊地知晋平(ts)
<br>
Time:start20:00
<br>
投げ銭
</div>
<br>

<div class="lili">2022.1.22.Sat.</div>
<div class="lilili"> @草加Sugar Hill
<br>
Member:山下Topo洋平(ケーナ•サンポーニャ)
<br>
Time:open18:30/start19:30
<br>
mc:¥3,000
</div>
<br>

<span>☆武藤勇樹リーダーライブ</span>
<br>
<div class="lili">2022.1.27.Thu.</div>
<div class="lilili"> @淡路町Lydian
<br>
Member:中島有美(vo)
<br>
Time:open18:30/start19:15
<br>
mc:¥3,400
</div>
<br>

<div class="lili">2022.1.28.Fri.</div>
<div class="lilili"> @大泉学園inF
<br>
坂本貴啓オーケストラ
<br>
Member:坂本貴啓(acc,perc,arr)田村麻紀子(cl,vo)宮崎達也(woodwinds)
<br>
Time:未定
</div>
<br>

<div class="lili">2022.1.29.Sat.</div>
<div class="lilili"> @北本中庭
<br>
部室
<br>
Member:吉川大介(b)山口廣和(g)小山田和正(d)松木翠(vo)
<br>
Time:未定
</div>
<br>

<div class="lili">2022.1.30.Sun.</div>
<div class="lilili"> @池袋Apple Jump
<br>
Member:入山ひとみ(vn)山本裕之(b)
<br>
Time:open13:30/start14:00
<br>
mc:¥3,000
</div>
<br>

<div class="lili">2022.1.30.Sun.</div>
<div class="lilili"> @草加Sugar Hill
<br>
Member:ニケ(sax)吉峯勇二郎(b)紺野智之(d)
<br>
Time:open17:30/start18:30
<br>
mc:¥3,000
</div>
<br>

<div class="lili">2022.1.31.Mon.</div>
<div class="lilili"> @関内ABSmile
<br>
竹内直(ts) old&new dream jazz orchestra
<br>
Member:竹内直(sax,cl)中山拓海(as)伴田裕(bs)赤塚謙一(tp)山田丈造(tp)忍田耕一(tb)大塚義将(b)吉岡大輔(d)
<br>
Time:start20:00
<br>
mc:¥2,800
</div>
<br>
