<div class="lililili">2021年10月スケジュール</div>
<br>
<h4><span>※日時等は状況に応じて変更になる可能性があります。</span></h4>
<br>

<div class="lili">2021.10.4.Mon</div>
<div class="lilili"> @大塚maru
<br>
後藤天太(sax) birthday Live
<br>
Member:井高寛朗(key)小川晋平(b)合原晋平(d)
<br>
Time:start19:00
<br>
mc:￥3,500
<br>
配信:￥3,000
</div>

<div class="lili">2021.10.5.Tue</div>
<div class="lilili"> @赤坂G’s bar
<br>
石田裕人(ts)カルテット
<br>
Member:山田ヒロシ(b)深水洋(d)
<br>
Time:start18:00
<br>
投げ銭
</div>
<br>

<div class="lili">2021.10.9.Sat</div>
<div class="lilili"> @八王子Kayo’s bar
<br>
Member:伊地知晋平(ts)
<br>
Time:未定
<br>
投げ銭
</div>
<br>

<div class="lili">2021.10.10.San</div>
<div class="lilili"> @吉祥寺strings
<br>
Remi(vo)トリオ
<br>
Member:冨樫マコト(b)
<br>
Time:未定
</div>
<br>

<div class="lili">2021.10.11.Mon</div>
<div class="lilili"> @学芸大学Maplehouse
<br>
金澤力哉(b)カルテット
<br>
Member:篠崎賢(tp)大木拓也(d)
<br>
Time:start19:30
<br>
mc¥3,000(学割¥2,200)
配信¥2,200
</div>
<br>

<div class="lili">2021.10.15.Fri</div>
<div class="lilili"> @三軒茶屋大道芸フェスティバル
<br>
竹内直(ts,cl) old&new dream jazz orchestra
<br>
Time:未定
</div>
<br>

<div class="lili">2021.10.16.Sat</div>
<div class="lilili"> @町田Nica’s
<br>
西村健司(tb)セクステット
<br>
Member:河原真彩(tp)小笠原涼(ts,cl)長谷川慧人(b)大江航平(d)
<br>
Time:start18:30
</div>
<br>

<div class="lili">2021.10.17.San</div>
<div class="lilili"> @高田馬場サニーサイド
<br>
Member:高井健(vo)川本悠自(b)
<br>
Time:start17:00
</div>
<br>

<div class="lili">2021.10.24.San</div>
<div class="lilili"> @吉祥寺strings
<br>
小野葉月(vo)トリオ
<br>
Member:冨樫マコト(b)
<br>
Time:未定
</div>
<br>

<div class="lili">2021.10.29.Fri</div>
<div class="lilili"> @池袋P’s bar
<br>
Member:江澤茜(as)
<br>
Time:start19:00
<br>
mc:¥2,200
</div>
<br>

<div class="lili">2021.10.30.Sat</div>
<div class="lilili"> @金沢八景
<br>
Member:小笠原涼(ts)
<br>
Time:未定
</div>
<br>