<div class="lililili">2022年2月スケジュール</div>
<br>
<h4><span>※日時等は状況に応じて変更になる可能性があります。</span></h4>
<br>

<div class="lili">2022.2.1.Tue.</div>
<div class="lilili"> @吉祥寺MJsmile
<br>
深水洋カルテット
<br>
Member:深水洋(d)石田裕人(ts)山田ヒロシ(b)
<br>
Time:open18:30/start19:00
<br>
mc:¥3,000
</div>
<br>

<div class="lili">2022.2.5.Sat.</div>
<div class="lilili"> @福岡Back Stage
<br>
中山拓海 Winter Tour 2022
<br>
Member:中山拓海(as)
<br>
Time:open18:00/start19:00
<br>
mc:¥3,000
</div>
<br>

<div class="lili">2022.2.6.Sun.</div>
<div class="lilili"> @広島Lush Life
<br>
中山拓海 Winter Tour 2022
<br>
Member:中山拓海(as)
<br>
Time:open16:30/start17:00
<br>
mc:¥3,000
</div>
<br>

<div class="lili">2022.2.7.Mon.</div>
<div class="lilili"> @神戸カントコトロ
<br>
中山拓海 Winter Tour 2022
<br>
Member:中山拓海(as)
<br>
Time:open18:30/start19:30
<br>
mc:¥3,000
</div>
<br>

<div class="lili">2022.2.8.Tue.</div>
<div class="lilili"> @名古屋Mr.Kenny’s
<br>
中山拓海 Winter Tour 2022
<br>
Member:中山拓海(as)
<br>
Time:open18:00/start19:30
<br>
mc:¥3000
</div>
<br>

<div class="lili">2022.2.9.Wen.</div>
<div class="lilili"> @静岡 札の辻クロスホール
<br>
中山拓海 Winter Tour 2022
<br>
Member:中山拓海(as)
<br>
Time:open18:30/start19:00
<br>
mc:¥3,000
</div>
<br>

<div class="lili">2022.2.10.Thu.</div>
<div class="lilili"> @渋谷JZ brat
<br>
Remi1stアルバム発売記念ライブ
<br>
Member:Remi(vo)鈴木梨花子(perc)
<br>
Time:open18:00/start19:00
<br>
mc:予約¥5000/当日¥5500
</div>
<br>

<div class="lili">2022.2.11.Fri.</div>
<div class="lilili"> @蕨our delight
<br>
Member:酒井麻生代(fl)
<br>
Time:open12:30/start13:00
<br>
mc一般¥3600/29歳以下本業学生¥1100/29歳以下社会人¥2600
</div>
<br>

<div class="lili">2022.2.12.Sat.</div>
<div class="lilili"> @吉祥寺strings
<br>
小野葉月トリオ
<br>
Member:小野葉月(vo)冨樫マコト(b)
<br>
Time:open17:30/start18:30
<br>
mc:¥3,000
</div>
<br>

<div class="lili">2022.2.13.Sun.</div>
<div class="lilili"> @赤坂G’s bar
<br>
石田裕人カルテット
<br>
Member:石田裕人(ts)山田ヒロシ(b)深水洋(d)
<br>
Time:open16:00/start17:00
<br>
投げ銭
</div>
<br>

<div class="lili">2022.2.16.Wed.</div>
<div class="lilili"> @赤坂G’s bar
<br>
Young&Fine
<br>
Member:JIMI橋詰(d)三浦トオル(b)
<br>
Time:open19:00/start20:00
<br>
投げ銭
</div>
<br>

<div class="lili">2022.2.18.Fri.</div>
<div class="lilili"> @八王子Kayo’s bar
<br>
Member:伊地知晋平(ts)
<br>
Time:start20:00
<br>
投げ銭
</div>
<br>

<div class="lili">2022.2.20.Sun.</div>
<div class="lilili"> @下北沢rpm
<br>
中島有美 jam session
<br>
Member:中島有美(vo)鶴田伸雅(g)堀内正隆(b)中村優祐(d)
<br>
Time:start19:00
<br>
mc¥3500
</div>
<br>

<div class="lili">2022.2.22.Tue.</div>
<div class="lilili"> @高円寺ジロキチ
<br>
ジロキチにゃんにゃんゾロ目Session
<br>
Member:竹中俊二(g)中島有美(vo)まきやまはる菜(b)山内陽一朗(d)
<br>
Time:open18:30/start19:30
<br>
mc前売¥3500/当日¥4000
</div>
<br>

<div class="lili">2022.2.23.Wed.</div>
<div class="lilili"> @吉祥寺strings
<br>
Member:Remi(vo)冨樫マコト(b)
<br>
Time:start18:30
<br>
mc¥3500
</div>
<br>