<div class="lililili">2022年10月スケジュール</div>
<br>
<h4><span>※日時等は状況に応じて変更になる可能性があります。</span></h4>
<br>

<div class="lili">2022.10.1.Sat.</div>
<div class="lilili"> @下北沢Music Island O
<br>
きくちゃんりきちゃん×Gloopy Group
<br>
Member:金澤力哉(b)篠崎賢(tp)大木拓也(d)
<br>
Time:open19:30/start20:00
<br>
mc:¥3000
<br>
※対バンのイベントとなります。
</div>
<br>



<div class="lili">2022.10.2.Sun.</div>
<div class="lilili"> @大塚Greco
<br>
Member:茨木智博(oc,tp)森田哲生(b)
<br>
Time:open13:00/start14:00
<br>
mc:¥3800(季節の一品付き)
</div>
<br>


<div class="lili">2022.10.5.Wed.</div>
<div class="lilili"> @四ツ谷Doppo
<br>
山下Topo洋平の世界
<br>
Member:山下Topo洋平(que,zmp)箭島裕治(b)渡辺庸介(per)
<br>
Time:open19:00/start19:30
<br>
mc:¥3500
</div>
<br>



<div class="lili">2022.10.8.Sat.</div>
<div class="lilili"> @高円寺さくたみ
<br>
Member:佐藤忍(b)永井由紀生(vo)公手徹太郎(d)
<br>
Time:start19:00
<br>
mc:¥3700+コース料理¥3800
<br>
※お食事がセットでのライブとなります。
</div>
<br>



<div class="lili">2022.10.12.Wed.</div>
<div class="lilili"> @池袋P’s bar
<br>
Member:飯嶋ももこ(vo)
<br>
Time:open19:00/start19:20
<br>
mc:¥2500
</div>
<br>



<div class="lili">2022.10.16.Sun.</div>
<div class="lilili"> @池袋Apple Jump
<br>
Member:入山ひとみ(vn)
<br>
Time:open13:30/start14:00
<br>
mc:¥3000
</div>
<br>


<div class="lili">2022.10.20.Thu.</div>
<div class="lilili"> @赤坂G’s bar
<br>
A.B.C.
<br>
Member:加藤友彦(vo,hrp)郡司康男(b)JIMI橋詰(d)
<br>
Time:open19:00/start20:00
<br>
mc:投げ銭
</div>
<br>



<div class="lili">2022.10.21.Fri.</div>
<div class="lilili"> @阿佐ヶ谷教会
<br>
牧山純子カルテット
<br>
Member:牧山純子(vn)嶌田憲二(b)岡本健太(d/per)
<br>
Time: 1st15:00~15:45/2nd16:15~17:00
<br>
mc:前売¥2000/当日¥2500(1ステージにつき)
<br>
※詳細は阿佐ヶ谷ジャズストリートのページをご覧ください。
 <%=link_to("https://asagayajazzstreets.com")%>

</div>
<br>



<div class="lili">2022.10.22.Fri.</div>
<div class="lilili"> @八王子Kayo’s bar
<br>
Member:伊地知晋平(ts)
<br>
Time:start20:10
<br>
mc:投げ銭
</div>
<br>



<div class="lili">2022.10.22.Sat.</div>
<div class="lilili"> @ピアノスタジオフィックス立川サロンホール
<br>
Sax&Piano duo live vol.1
<br>
Member:馬越脇崚(as)
<br>
Time:open18:30 start19:00
<br>
mc:¥3000/配信¥2000
<br>
※チケットお申し込みはこちらから
 <%=link_to("https://docs.google.com/forms/d/1Q4p7wKV5SLEoOumywd8HejM8znmxbqWdjS9tW66F9jI/edit")%>
※配信チケットはこちらから
 <%=link_to("https://ssl.twitcasting.tv/g:107811839427071835678/shopcart/186726")%>
</div>
<br>



<div class="lili">2022.10.23.Sun.</div>
<div class="lilili"> @汐留Blue Mood
<br>
春之介 Live
<br>
Member:西畑春之介(vo)金武慶洋(g)山内楽(d,per)
<br>
Time:open18:30 start19:30
<br>
mc:¥5000
</div>
<br>



<div class="lili">2022.10.24.Mon.</div>
<div class="lilili"> @柏Nardis
<br>
Member:紺野智之(d)林栄一(as)清水昭好(b)
<br>
Time:start20:30
<br>
mc:¥3300
</div>
<br>


<div class="lili">2022.10.25.Tue.</div>
<div class="lilili"> @学芸大学珈琲美学
<br>
Member:細見真由(vo)大塚義将(b)
<br>
Time:open18:30/start19:30
<br>
mc:¥4400/配信¥3000
<br>
※配信チケットはこちらから
 <%=link_to("https://twitcasting.tv/coffee_bigaku/shopcart/176179")%>

</div>
<br>



<div class="lili">2022.10.28.Fri.</div>
<div class="lilili"> @赤坂見附velera
<br>
川本悠自クインテット
<br>
Member:寝占友梨絵(vo)杉本匡教(ts)川本悠自(b)河村亮(d)
<br>
Time:open19:00/start19:30
<br>
mc:¥4000
</div>
<br>


<div class="lili">2022.10.29.Sat.</div>
<div class="lilili"> @渋谷琥珀
<br>
利光玲奈トリオ
<br>
Member:三嶋大輝(b)利光玲奈(d,vo)
<br>
Time:open19:00/start19:30
<br>
mc:投げ銭
</div>
<br>



<div class="lili">2022.10.30.Sun.</div>
<div class="lilili"> @草加Sugar Hill
<br>
Member:ニケ(ts)吉峯勇二郎(b)紺野智之(d)
<br>
Time:open17:30/start18:00
<br>
mc:¥3000
</div>
<br>


<div class="lili">2022.10.31.Mon.</div>
<div class="lilili"> @赤坂G’s bar
<br>
石田裕人カルテット
<br>
Member:石田裕人(ts)山田ヒロシ(b)深水洋(d)
<br>
Time:open19:00/start20:00
<br>
mc:投げ銭
</div>
<br>
<br><br><br><br>