<div class="lililili">2022年4月スケジュール</div>
<br>
<h4><span>※日時等は状況に応じて変更になる可能性があります。</span></h4>
<br>

<div class="lili">2022.5.4.Wed.</div>
<div class="lilili"> @豊橋プラットホール
<br>
old&new dream jazz orchestra
<br>
Member:竹内直(ts)中山拓海(as)伴田裕(bs)赤塚謙一(tp)山田丈造(tp)忍田耕一(tb)大塚義将(b)吉岡大輔(d)
<br>
Time:未定
</div>
<br>


<div class="lili">2022.5.5.Thu</div>
<div class="lilili"> @富士ケルン
<br>
old&new dream jazz orchestra
<br>
Member: 竹内直(ts)中山拓海(as)伴田裕(bs)赤塚謙一(tp)山田丈造(tp)忍田耕一(tb)大塚義将(b)吉岡大輔(d)
<br>
Time:open14:00/start15:00
<br>
mc:¥4500
</div>
<br>


<div class="lili">2022.5.10.Tue</div>
<div class="lilili"> @大塚マル
<br>
後藤感謝祭
<br>
Member:後藤天太(sax)座光寺卓音(tp)れーみ(key)米田雄一(g)岩永真奈(b)柴田亮(d)
<br>
Time:open18:30/start19:00
<br>
mc:¥3500
</div>
<br>


<div class="lili">2022.5.13.Fri.</div>
<div class="lilili"> @代官山SPACE ODD
<br>
XinU #01 Release live
<br>
Member:庄司陽太(g)山本連(b)大津惇(d)
<br>
Time:open18:30/start19:30
<br>
mc:¥4000(チケット制)
<br>
<%=link_to("https://t.livepocket.jp/e/xinu01releaselive?fbclid=IwAR0tJjgVoT4em-9puIKS8VEqdTh5i8ZLp3k8kKIEud_ikh7yQZrxZykpKII") %>
</div>
<br>

<div class="lili">2022.5.14.Sat.</div>
<div class="lilili"> @八王子Kayo’s bar
<br>
Member:伊地知晋平(ts)
<br>
Time:start20:00
<br>
mc:投げ銭
</div>
<br>

<div class="lili">2022.5.15.Sun.</div>
<div class="lilili"> @蕨our delight
<br>
Member:木下麻里(vn)川本悠自(b)
<br>
Time:open13:30/start14:00
<br>
mc:¥4100
</div>
<br>


<div class="lili">2022.5.19.Thu.</div>
<div class="lilili"> @赤坂G’s bar
<br>
Young&Fine
<br>
Member:JIMI橋詰(d)三浦トオル(b)
<br>
Time:open19:00/start20:00
<br>
mc:投げ銭
</div>
<br>

<div class="lili">2022.5.21.Sat.</div>
<div class="lilili"> @池袋P’s bar
<br>
Member:飯嶋ももこ(vo)も
<br>
Time:open17:30/start18:00
<br>
mc:¥2200
</div>
<br>


<div class="lili">2022.5.22.Sun.</div>
<div class="lilili"> @草加Sugar Hill
<br>
Member:ニケ(ts)吉峯勇二郎(b)紺野智之(d)
<br>
Time:open17:30/start18:00
<br>
mc:¥3000
</div>
<br>


<div class="lili">2022.5.24.Tue.</div>
<div class="lilili"> @淡路町Lydian
<br>
谷殿明良 Chamber Jazz Ensemble 
<br>
Member:谷殿明良(tp)平山織絵(Vc)山本裕之(b)
<br>
Time:open18:30/start19:15
<br>
mc:¥3400
</div>
<br>


<div class="lili">2022.5.27.Fri.</div>
<div class="lilili"> @草加Sugar Hill
<br>
Member:入山ひとみ(vn)
<br>
Time:open18:30/start19:30
<br>
mc:¥3000
</div>
<br>


<div class="lili">2022.5.29.Sun.</div>
<div class="lilili"> @草加Sugar Hill
<br>
Member:中島香里(vib)
<br>
Time:open15:00/start16:00
<br>
mc:¥3000
</div>
<br>


<div class="lili">2022.5.31.Tue.</div>
<div class="lilili"> @高円寺JIROKICHI
<br>
Gem Stones live vol.2
<br>
Member:竹中俊二(g)中島有美(vo)まきやまはる菜(b)山内陽一朗(d)
<br>
Time:open18:30/start19:30
<br>
mc:前売¥3500/当日¥4000
</div>
<br>
<br><br><br><br>