<div class="lililili">2022年8月スケジュール</div>
<br>
<h4><span>※日時等は状況に応じて変更になる可能性があります。</span></h4>
<br>

<div class="lili">2022.8.30.Tue.</div>
<div class="lilili"> @大塚Donfan
<br>
Member:中山拓海(as)永見寿久(b)関根豊明(d)
<br>
Time:start19:30
<br>
mc:¥3000
</div>
<br>

<div class="lililili">2022年9月スケジュール</div>
<br>
<div class="lili">2022.9.1.Thu</div>
<div class="lilili"> @赤坂G’s bar
<br>
美沙樹と勇樹
<br>
Member:矢元美沙樹(ts)三浦トオル(b)JIMI橋詰(d)
<br>
Time:open19:00 start20:00
<br>
mc:投げ銭
</div>
<br>


<div class="lili">2022.9.2.Fri.</div>
<h4><span>☆武藤勇樹リーダーライブ☆</span></h4>
<div class="lilili"> @大泉学園inF
<br>
Member:堀江洋賀(g)
<br>
Time:open19:30 start20:00
<br>
mc:¥2500
</div>
<br>


<div class="lili">2022.9.4.Sun.</div>
<div class="lilili"> @南大塚le chat et l’ange
<br>
Member:鈴木梨花子(per)
<br>
Time:open start
<br>
mc:¥
</div>
<br>


<div class="lili">2022.9.5.Mon.</div>
<div class="lilili"> @赤坂G’s bar
<br>
Member:石田裕人(ts)山田ヒロシ(b)深水洋(d)
<br>
Time:open19:00 start20:00
<br>
mc:投げ銭
</div>
<br>


<div class="lili">2022.9.9.Fri.</div>
<div class="lilili"> @八王子Kayo’s bar
<br>
Member:伊地知晋平(ts)
<br>
Timestart20:10
<br>
mc:投げ銭
</div>
<br>


<div class="lili">2022.9.15.Thu.</div>
<div class="lilili"> @銀座TACT
<br>
Soul Trail Live
<br>
Member: aya(Vo)Yuuko(Vo)大木Will(Vo)Lawrence Daniels(Ba)小沢勝巳(Gt)甲本奈保美(Sax)延藤 洋(Dr)
<br>
Time:open18:30 start19:30
<br>
mc:¥4500
</div>
<br>


<div class="lili">2022.9.17.Sat.</div>
<div class="lilili"> @盛岡劇場タウンホール
<br>
もりデコ会vol.3
<br>
Member:Yumiko(vo)Naoto Iwakami(g)Kaoru Katsuyama(b)Ohki Takuya(d)
<br>
Time:open17:00 start17:45
<br>
mc:前売¥4000/当日¥4500
<br>
※JiLL-Decoy association, Shimizu EYEとの対バンイベントとなります。
チケットご予約はmorideco.vol.3@gmail.comまでお願いいたします。
</div>
<br>


<div class="lili">2022.9.18.Sun.</div>
<div class="lilili"> @栃木黒羽田町公園たまち蔵屋敷
<br>
山下Topo洋平 New Album 「KOKOPELLI」発売記念ツアー
<br>
Member:山下Topo洋平(que,zmp)
<br>
Time:open14:30 start15:00
<br>
mc:¥3000
<br>
※満席となりました。キャンセル待ちは承っております。
</div>
<br>


<div class="lili">2022.9.19.Mon.</div>
<div class="lilili"> @福島マジー•ノアール
<br>
山下Topo洋平 New Album 「KOKOPELLI」発売記念ツアー
<br>
Member:山下Topo洋平(que,zmp)
<br>
Time:open12:00 start14:00
<br>
mc:¥4000
</div>
<br>


<div class="lili">2022.9.21.Wed.</div>
<div class="lilili"> @渋谷JZ brat
<br>
Dee Boogie Session 瀬戸カオリ Birthday Live
<br>
Member:瀬戸カオリ(vo)GEORGE M(vo)竹内直(ts)高瀬龍一(tp)清水昭好(b)吉岡大輔(d)
<br>
Time:open18:00 start19:00
<br>
mc:¥5500
</div>
<br>


<div class="lili">2022.9.23.Fri.</div>
<div class="lilili"> @長野松本
<br>
竹内直 old&new dream jazz orchestra
<br>
Member:竹内直(ts,cl)中山拓海(as)伴田裕(bs)赤塚謙一(tp,hr)山田丈造(tp)忍田耕一(tb)大塚義将(b)吉岡大輔(d)
<br>
Time:open start
<br>
mc:¥
</div>
<br>


<div class="lili">2022.9.25.Sun.</div>
<div class="lilili"> @草加Sugar Hill
<br>
Member:鈴木梨花子(per)
<br>
Time:open13:00 start14:00
<br>
mc:¥3000
</div>
<br>


<div class="lili">2022.9.26.Mon.</div>
<div class="lilili"> @渋谷バッキー
<br>
ボーカルセッション
<br>
Member:渡瀬ひとみ(vo)日下部史貴(b)
<br>
Time:start14:00
<br>
mc:¥3000
</div>
<br>


<div class="lili">2022.9.26.Mon.</div>
<div class="lilili"> @赤坂G’s bar
<br>
TOMTOM
<br>
Member:田村さおり(fl)三浦トオル(b)JIMI橋詰(d)
<br>
Time:open19:00 start20:00
<br>
mc:投げ銭
</div>
<br>


<div class="lili">2022.9.28.Wed.</div>
<div class="lilili"> @小川町Lydian
<br>
Member:中島有美(vo)
<br>
Time:open18:30 start19:15
<br>
mc:¥3400
</div>
<br>


<div class="lili">2022.9.29.Thu.</div>
<div class="lilili"> @大泉学園inF
<br>
坂本貴啓オーケストラ
<br>
Member:坂本貴啓(acc,cajon)田村麻紀子(cl,tp)宮崎達也(fl,sax)
<br>
Time:open19:30 start20:00
<br>
mc:¥3000
<br>
※オーボエメインでの出演となります。
</div>
<br>


<div class="lili">2022.9.30.Fri.</div>
<div class="lilili"> @渋谷琥珀
<br>
曽我部泰紀カルテット
<br>
Member:曽我部泰紀(ts)三嶋大輝(b)山崎隼(d)
<br>
Time:open19:00 start20:00
<br>
mc:投げ銭
</div>
<br>
<br><br><br><br>