<div class="lililili">2022年8月スケジュール</div>
<br>
<h4><span>※日時等は状況に応じて変更になる可能性があります。</span></h4>
<br>

<div class="lili">2022.8.2.Tue.</div>
<div class="lilili"> @大塚Donfan
<br>
Member:飯嶋ももこ(vo)
<br>
Time:start20:00
<br>
mc:¥2,200
</div>
<br>


<div class="lili">2022.8.4.Thu.</div>
<div class="lilili"> @市ヶ谷フィオリーレ
<br>
Member:西畑春之介(vo)
<br>
Time:open11:30 start12:30
<br>
mc:¥
</div>
<br>



<div class="lili">2022.8.4.Thu.</div>
<div class="lilili"> @大塚Greco
<br>
Member:茨木智博(oc,tp)森田哲生(b)
<br>
Time:open18:30 start19:30
<br>
mc:¥3800(季節の一品付き)
</div>
<br>


<div class="lili">2022.8.6.Sat.</div>
<div class="lilili"> @赤坂B♭
<br>
西村健司セクステット ピースコンサート2022
<br>
Member:河原真彩(tp)西村健司(tb)小笠原涼(ts)長谷川慧人(b)大江航平(d)
<br>
Time:open18:30 start19:30
<br>
mc:一般¥3000/学生¥2000
</div>
<br>



<div class="lili">2022.8.7.Sun.</div>
<div class="lilili"> @池袋Apple Jump
<br>
Member:牧山純子(vn)
<br>
Time:open13:30 start14:00
<br>
mc:¥3200
</div>
<br>



<div class="lili">2022.8.7.Sun.</div>
<div class="lilili"> @草加Sugar Hill
<br>
Member:ニケ(ts)吉峯勇二郎(b)紺野智之(d)
<br>
Time:open17:30 start18:00
<br>
mc:一般¥3000/学生¥2000
</div>
<br>



<div class="lili">2022.8.9.Tue.</div>
<div class="lilili"> @大泉学園inF
<br>
坂本貴啓オーケストラ 木管アンサンブル
<br>
Member:宮崎達也(fl,sax)田村麻紀子(cl)坂本貴啓(d)
<br>
Time:start20:00
<br>
mc:¥3000
<br>
※オーボエメインでの出演となります。
</div>
<br>



<div class="lili">2022.8.10.Wed.</div>
<div class="lilili"> @渋谷JZ brat
<br>
Summer Ripple
<br>
Member:Remi(vo)鈴木梨花子(per)松浦直樹(b)
<br>
Time:open18:00 start19:00
<br>
mc:予約¥5000/当日¥5500
</div>
<br>



<div class="lili">2022.8.11.Thu.</div>
<div class="lilili"> @草加Sugar Hill
<br>
Member:中島香里(vib)
<br>
Time:open14:30 start15:00
<br>
mc:一般¥3000/学生2000
</div>
<br>



<div class="lili">2022.8.11.Thu.</div>
<div class="lilili"> @六本木Electrick神社
<br>
Gloopy Group
<br>
Member:篠崎賢(tp)金澤力哉(b)大木拓也(d)
<br>
Time:start21:00
<br>
mc:¥3000
</div>
<br>


<div class="lili">2022.8.12.Fri.</div>
<div class="lilili"> @赤坂G’s bar
<br>
Young&Fine
<br>
Member:三浦トオル(b)JIMI橋詰(d)
<br>
Time:open19:00 start20:00
<br>
mc:投げ銭
</div>
<br>


<div class="lili">2022.8.13.Sat.</div>
<div class="lilili"> @汐留Blue Mood
<br>
Member:西畑春之介(vo)進藤洋樹(g)松岡健(perc)
<br>
Time:open17:30 start18:30
<br>
mc:¥5000(1drink付)
</div>
<br>


<div class="lili">2022.8.19.Fri.</div>
<div class="lilili"> @八王子Kayo’s barは
<br>
Member:伊地知晋平(ts)
<br>
Time:start20:15
<br>
mc:投げ銭
</div>
<br>


<div class="lili">2022.8.20.Sat.</div>
<div class="lilili"> @希望ヶ丘CASK
<br>
小笠原涼クインテット
<br>
Member:小笠原涼(ts)佐瀬悠輔(tp)鈴木堅登(b)奥村純平(d)
<br>
Time:open15:00 start16:00
<br>
mc:¥3000
</div>
<br>



<div class="lili">2022.8.21.Sun.</div>
<div class="lilili"> @六本木Satin Doll
<br>
中島有美 Live in Satin Doll
<br>
Member:中島有美(vo)米田雄一(g)冨樫マコト(b)大津惇(d)
<br>
Time:open17:30 start18:30
<br>
mc:¥4000
</div>
<br>



<div class="lili">2022.8.30.Tue.</div>
<div class="lilili"> @大塚Donfan
<br>
Member:中山拓海(as)永見寿久(b)関根豊明(d)
<br>
Time:start19:30
<br>
mc:¥3000
</div>
<br>
<br><br><br><br>