<div class="lililili">2021年7月のスケジュール</div>
<br>
<div class="lili">2021.07.03.Sat.</div>
<div class="lilili"> @学芸大学Maple house <br>RIKIYA Quartet <br>
Member:金澤力哉(b)篠崎賢(tp)大木拓也(d)
<br>Time:start18:00
<br>Fee:mc3000/学割2000/配信2200</div>
<br>
<div class="lili">2021.07.05.Mon.</div>
<div class="lilili"> @関内Apple<br>Member:寝占友梨絵<br>
Time:Open19:00 <br>
1st20:00~/2nd21:30~
<br>Close23:00</div>
<br>
<div class="lili">2021.07.06.Tue.</div>
<div class="lilili">@大泉学園inF
<br>
坂本貴啓(keyharm,d)オーケストラ
<br>
Member:田村麻紀子(cl,vo)宮崎達也(fl,sax,etc)</div>
<br>
<div class="lili">2021.07.07.Wed.</div>
<div class="lilili"> @希望ヶ丘CASK
<br>
Member:吉川大介(b)飯嶋ももこ(vo)
<br>
Time:start19:30
<br>
Fee:mc2500</div>
<br>
<div class="box8">
  <p>
<div class="lili">2021.07.10.Sat.</div>
<div class="lilili"> 
  <div class="readerlive">☆武藤勇樹ソロピアノ</div>
</div>
<div class="lilili">
@小川町Lydian
<br>
Time:open18:30
<br> 
&ensp;1st19:15~20:15
<br>
&ensp;2nd20:45~21:45
<br>
Fee:mc3400
</div>
  </p>
</div>
<br>
<div class="lili">2021.07.11.Sun.</div><span>※中止になりました</span>
<div class="lilili"> @渋谷琥珀
<br>
Member:利光玲奈(d)三嶋大輝(b)</div>
<br>
<div class="lili">2021.07.15.Thu.</div><span>※追加ライブ決定しました！</span>
<div class="lilili">@赤坂dot&blue
<br>
赤坂バンド
<br>
Member:Kazui(b)石井裕太(sax)大津惇(dr)
<br>
Time:17:30~
<br>
投げ銭あり
<br>
</div>
<br>
<div class="lili">2021.07.17.Sat.</div>
<div class="lilili">@池袋P’s bar
<br>
Member:牧田理佐(vo)
<br>
Time:open13:30
<br>
&ensp;1st14:00~14:45
<br>
&ensp;2nd15:00~15:45
<br>
Fee:mc2200</div>
<br>
<div class="lili">2021.07.17.Sat.</div>
<div class="lilili">@新百合ヶ丘轍
<br>
Member:西村健司(tb)
<br>
Time:start18:00</div>
<br>
<div class="lili">2021.07.18.Sun.</div>
<div class="lilili"> @草加Sugar Hill
<br>
Member:入山ひとみ(vn)
<br>
open14:00
<br>
1st15:00/2nd16:00</div>
<br>
<div class="lili">2021.07.21.Wed.</div>
<div class="lilili"> @赤坂Bb
<br>
西村健司(tb)セクステット
<br>
Member:河原真彩(tp)小笠原涼(sax)長谷川慧人(b)大江航平(d)/Guest香取良彦(vib)</div>
<br>
<div class="lili">2021.07.28.Wed.</div>
<div class="lilili"> @小川町Lydian
<br>
Young&Fine
<br>
Member:JIMI橋詰(d)三浦トオル(b)
<br>
Time:open18:30
<br> 
&ensp;1st19:15~20:15
<br>
&ensp;2nd20:45~21:45
<br>
Fee:mc3400</div>
<br>
<div class="lili">2021.07.29.Thu.</div>
<div class="lilili"> @赤坂見附velera
<br>
Chamber Jazz Ensemble 
<br>
Member:谷殿明良(tp)平山織絵(vc)山本裕之(b)蔡怜雄(per)
<br>
Time:start19:30
<br>
Fee:mc3500</div>
<br>
<div class="lili">2021.07.31.Sat.</div>
<div class="lilili"> @池袋P’s bar
<br>
Member:堀江洋賀(gt)
<br>
Time:open18:00/start18:30
<br>
Fee:mc2200</div>
<br><br><br>