<div class="lililili">2021年11月スケジュール</div>
<br>
<h4><span>※日時等は状況に応じて変更になる可能性があります。</span></h4>
<br>

<div class="lili">2021.11.2.Tue</div>
<div class="lilili"> @四ツ谷三丁目 Live Unten45
<br>
中野優樹(b) jam session
<br>
Time:start19:00
<br>
mc:¥1,800
</div>
<br>

<div class="lili">2021.11.3.Wed</div>
<div class="lilili"> @吉祥寺MJsmile
<br>
深水洋(d)カルテット
<br>
Member:石田裕人(ts)山田ヒロシ(b)
<br>
Time:start17:00
<br>
mc:¥3,000
</div>
<br>

<h4><span>武藤勇樹リーダーライブ</span></h4>
<br>
<div class="lili">2021.11.6.Sat</div>
<div class="lilili"> @渋谷コントレイル
<br>
Member:中島有美(vo)
<br>
Time:1stステージ:19:00~19:45
<br>
2ndステージ:20:15~21:00
<br>
mc:¥1,000＋投げ銭
</div>
<br>

<div class="lili">2021.11.7.Sun</div>
<div class="lilili"> @草加Sugar Hill
<br>
Member:鈴木梨花子(per)
<br>
Time:open14:30 
<br>
1stステージ:15:00〜
<br>
2ndステージ:16:00〜
<br>
mc:¥3,000
</div>
<br>

<div class="lili">2021.11.9.Tue</div>
<div class="lilili"> @新宿Pit inn
<br>
竹内直(ts) old&new dream jazz orchestra
<br>
Member:中山拓海(as)伴田 裕(bs)赤塚謙一(tp)山田丈造(tp)忍田耕一(tb)大塚義将(b)吉岡大輔(d)
<br>
Time:open19:00
<br>
start19:30
<br>
mc:¥3,850
</div>
<br>

<div class="lili">2021.11.12.Fri</div>
<div class="lilili"> @池袋Apple Jump
<br>
入山ひとみ(vn)トリオ
<br>
Member:山本裕之(b)
<br>
Time:未定
<br>
mc:¥3,000
</div>
<br>

<div class="lili">2021.11.18.Thu</div>
<div class="lilili"> @赤坂G’s bar
<br>
Young&Fine
<br>
Member:JIMI橋詰(d)三浦トオル(b)
<br>
Time:未定
<br>
投げ銭制
</div>
<br>

<div class="lili">2021.11.19.Fri</div>
<div class="lilili"> @八王子Kayo’s bar
<br>
Member:伊地知晋平(ts)
<br>
Time:未定
<br>
投げ銭制
</div>
<br>

<div class="lili">2021.11.20.Sat</div>
<div class="lilili"> @池袋P’s bar
<br>
Member:堀江洋賀(g)
<br>
Time:open18:30 
<br>
start19:00
<br>
mc:¥2,200
</div>
<br>

<div class="lili">2021.11.23.Tue</div>
<div class="lilili"> @池袋Absolute blue
<br>
KEI&YUMI ツーマンライブ
<br>
Member:中島有美(vo)篠奈々子(per)
<br>
Time:open18:30 
<br>
start19:00
<br>
mc:¥3,500
<br>
配信:¥2,500~
<br>
<%=link_to("https://twitcasting.tv/c:abso/shopcart/109780") do %>
    <button type="button" class="btn btn-danger" >投げ銭はこちらからお願いします</button>
  <%end%>
</div>
<br>

<span>武藤勇樹リーダーライブ</span>
<div class="lili">2021.11.26.Fri</div>
<div class="lilili"> @希望ヶ丘CASK
<br>
武藤勇樹(p)トリオ
<br>
Member:寺尾陽介(b)坂本貴啓(d)
<br>
Time:未定
<br>
mc:¥2,500
</div>
<br>

<div class="lili">2021.11.28.Sun</div>
<div class="lilili"> @東松山音蔵
<br>
Member:織田紗央里(vn)茨木智博(Oc)
<br>
Time:未定
</div>
<br>


<div class="lili">2021.11.30.Mon</div>
<div class="lilili"> @大泉学園inF
<br>
坂本貴啓オーケストラ 
<br>
Member: 坂本貴啓(key-harm,perc,comp,arr)田村麻紀子(cl,vo)宮崎達也(woodwinds)
<br>
Time:未定
</div>
<br>