<div class="lililili">2021年9月スケジュール</div>
<br>
<h4><span>※日時等は状況に応じて変更になる可能性があります。</span></h4>
<br>

<div class="lili">2021.09.09.Thu.</div>
<div class="lilili"> @小川町Lydian
<br>
中島有美(vo)×武藤勇樹(p)
<br>
Time:open17:30 1st18:00/2nd19:00

<br>
mc3400
</div>
<br>
<div class="lili">2021.09.11.Fri.</div>
<div class="lilili"> @赤坂G’s bar
<br>
TOMTOM
<br>
Member:田村さおり(fl)三浦トオル(b)JIMI橋詰(d)
<br>
Time:start17:45
<br>
Tipping
</div>
<br>
<div class="lili">2021.09.16.Thu.</div>
<div class="lilili"> @赤坂dot&blue
<br>
赤坂バンド
<br>
Member:Kazui(b)
<br>
Time:start17:30
<br>
Tipping
</div>
<br>

<div class="lili">2021.09.20.Mon.</div>
<div class="lilili"> @阿佐ヶ谷スタッカート
<br>
Member:Remi(vo)
<br>
Time:start16:20
<br>
mc2500
</div>
<br>

<div class="lili">2021.09.24.Fri.</div>
<div class="lilili"> @池袋P’s bar
<br>
Member:飯嶋ももこ(vo)
<br>
Time:start18:30(1setのみ)
<br>
mc1500
</div>
<br>

<div class="lili">2021.09.25.Sat.</div>
<div class="lilili"> @オペラシティ近江楽堂
<br>
AtoY MUSIC presents JAZZ MEETING VOL.9　坂本貴啓オーケストラ 
<br>
Member: 坂本貴啓(key-harm,perc,comp,arr)田村麻紀子(cl,vo)宮崎達也(woodwinds)
<br>
Time:open18:30 start19:00
<br>
全席自由/前売 ¥4000 当日￥4,500
<br>
※オーボエでの出演となります
</div>
<br>

<div class="lili">2021.09.26.Sat.</div>
<div class="lilili"> @池袋apple jump
<br>
入山ひとみ(vn)カルテット
<br>
Member:山本裕之(b)
<br>
Time:未定
<br>
mc3000
</div>
<br>

<div class="lili">2021.09.30.Thu.</div>
<div class="lilili"> @池袋P’s bar
<br>
P’s 新装開店3周年(前夜祭)
<br>
Member: 堀江洋賀(g)伊藤勇司(b)
<br>
Time:open18:30 start19:00
<br>
mc2000
</div>
<br>