<div class="lililili">2022年4月スケジュール</div>
<br>
<h4><span>※日時等は状況に応じて変更になる可能性があります。</span></h4>
<br>

<div class="lili">2022.4.2.Sat.</div>
<div class="lilili"> @草加Sugar Hill
<br>
Member:山下Topo洋平(que•zmp)
<br>
Time:open14:00/start15:00
<br>
mc:¥3,000
</div>
<br>

<div class="lili">2022.4.9.Sat.</div>
<div class="lilili"> @下北沢Music Island O
<br>
Gloopy/Group×Shion
<br>
Member:篠崎賢(tp)金澤力哉(b)大木拓也(d)
<br>
Time:start19:00
<br>
mc¥2500
<br>
<span>※ツーマンのイベントとなります。</span>
</div>
<br>

<div class="lili">2022.4.10.Sun.</div>
<div class="lilili"> @汐留Blue mood
<br>
HARUNOSUKE LIVE at BLUEMOOD
<br>
Member:西畑春之介(vo)金武慶洋(g)松岡健(perc)
<br>
Time:open18:00/start19:00
<br>
mc:¥4,000
</div>
<br>

<div class="lili">2022.4.14.Thu.</div>
<div class="lilili"> @赤坂G’s bar
<br>
A.B.C.
<br>
Member:加藤友彦(hrp/vo)郡司康男(b)JIMI橋詰(d)
<br>
Time:open19:00/start20:00
<br>
投げ銭
</div>
<br>

<div class="lili">2022.4.16.Sat.</div>
<div class="lilili"> @池袋Apple Jump
<br>
Member:入山ひとみ(vn)山本裕之(b)
<br>
Time:open13:30/start14:00
<br>
mc:¥3,000
</div>
<br>

<div class="lili">2022.4.16.Sat.</div>
<div class="lilili"> @八王子Kayo’s bar
<br>
Member:伊地知晋平(ts)
<br>
Time:start20:00
<br>
投げ銭
</div>
<br>

<div class="lili">2022.4.23.Sat.</div>
<div class="lilili"> @新桜町neighbor
<br>
西村健司セクステットと香取良彦
<br>
Member:西村健司(tb)河原真彩(tp)小笠原涼(ts)長谷川慧人(b)大江航平(d)香取良彦(vib)
<br>
Time:open16:30/start17:30
<br>
mc:予約¥3,850/当日¥4,400
</div>
<br>
<br><br><br><br>