
<footer class="footer">

  <div class="text-white">
    <div class="nav justify-content-center">
      <nav class="navbar navbar-expand-lg navbar-light .bg-primary.bg-gradient">
        <ul class="navbar-nav">
          <li class="nav-item">
            <%= link_to "Copyright(C) -Sousou-blog- All Rights Reserved", "#", class: "nav-link" %>
          </li>
        </ul>
    </div>
  </div>

</footer>