<header class="header">

  <nav class="navbar navbar-expand-lg navbar-light .bg-primary.bg-gradient">
  <div class="container-fluid">
    <h2><%= link_to "Sousou-blog", root_path, class:"navbar-brand" %></h2>
  </div>

</header>