<header class="header">

  <nav class="navbar navbar-expand-lg navbar-light .bg-primary.bg-gradient">
    <div class="container-fluid">
      <h2><%= link_to "Sousou-blog", root_path, class:"navbar-brand" %></h2>

    <% if user_signed_in? %>
      <ul class="nav justify-content-end">
        <li class="nav-item">
          <%= link_to "投稿", new_article_path, class: "nav-link active mx-5" %>
        </li>
        <li class="nav-item">
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "nav-link" %>
        </li>
    <% else %>
        <li class="nav-item">
          <%= link_to "ログイン", new_user_session_path, class: "nav-link active mx-5" %>
        </li>
      </ul>
    <% end %>
    </div>  

</header>