<h2> &ensp; Youtube</h2>


<br>
<div class="youtubelist">最新の動画はこちらから♪</div>
<p><iframe width="560" height="315" src="https://www.youtube.com/embed/-WoeULaTGJM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>

<div class="youtubelist">過去の動画はこちらから♪</div>
 
<div class="center">
 <%=link_to("https://www.youtube.com/channel/UCktx-AIPTAwz1wWWo-fG3ew") do %>
    <button type="button" class="btn btn-danger" >Youtubeチャンネルはこちらから♪</button>
  <%end%>
</div>

  </div>

<div class="row row-cols-1 row-cols-md-2 g-4">
  <p><iframe width="560" height="315" src="https://www.youtube.com/embed/wL8oCG4q9T8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>
  <p><iframe width="560" height="315" src="https://www.youtube.com/embed/TTfQzWvAO4A" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>
  <p><iframe width="560" height="315" src="https://www.youtube.com/embed/EwXPE8cDqeg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>
  <p><iframe width="560" height="315" src="https://www.youtube.com/embed/nL5ulqGTo5w" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></P>
  <p><iframe width="560" height="315" src="https://www.youtube.com/embed/CemXLBCFRWw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></P>
  <p><iframe width="560" height="315" src="https://www.youtube.com/embed/yfsWsxzYQzo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>
  <p><iframe width="560" height="315" src="https://www.youtube.com/embed/2SVKhUoYBzI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>
  <p><iframe width="560" height="315" src="https://www.youtube.com/embed/7jfM3SxxyxY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>
  <p><iframe width="560" height="315" src="https://www.youtube.com/embed/I0GzFvHGzUE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>
  <p><iframe width="560" height="315" src="https://www.youtube.com/embed/uwrmBjCQeRY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>
</div>
<br><br><br><br><br><br>