<h2> &ensp; Youtube
 <%=link_to("https://www.youtube.com/channel/UCktx-AIPTAwz1wWWo-fG3ew") do %>
    <button type="button" class="btn btn-danger" >Youtubeチャンネルはこちらから♪</button>
  <%end%>
</h2>


<br>
<div class="youtubelist">- NEW ARRIVAL -</div>
  <p><iframe width="560" height="315" src="https://www.youtube.com/embed/_ykteoshAPw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>
<div class="youtubelist">過去の動画はこちらから♪</div>

<div class="row row-cols-1 row-cols-md-2 g-4">
  <p><iframe width="560" height="315" src="https://www.youtube.com/embed/sAPwz6G-0F0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>
  <p><iframe width="560" height="315" src="https://www.youtube.com/embed/Eu23YaQWyFw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>
  <p><iframe width="560" height="315" src="https://www.youtube.com/embed/k1u9jHTZ2UY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>
  <p><iframe width="560" height="315" src="https://www.youtube.com/embed/vq3qFE24o5Y" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>
  <p><iframe width="560" height="315" src="https://www.youtube.com/embed/HBlLZmb_HGQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>  <p><iframe width="560" height="315" src="https://www.youtube.com/embed/RLdpTsHLmcc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>
  <p><iframe width="560" height="315" src="https://www.youtube.com/embed/q8E6tdf4uSM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>
  <p><iframe width="560" height="315" src="https://www.youtube.com/embed/trjhqesmv4M" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>
  <p><iframe width="560" height="315" src="https://www.youtube.com/embed/Sg0VvzQf5g0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>
  <p><iframe width="560" height="315" src="https://www.youtube.com/embed/XoPC91yqMWA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>
  <p><iframe width="560" height="315" src="https://www.youtube.com/embed/BVA8f9H3PuY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>
</div>
<br><br><br><br><br><br>