<h2> &ensp; Youtube
 <%=link_to("https://www.youtube.com/channel/UCktx-AIPTAwz1wWWo-fG3ew") do %>
    <button type="button" class="btn btn-danger" >Youtubeチャンネルはこちらから♪</button>
  <%end%>
</h2>


<br>
<div class="youtubelist">- NEW ARRIVAL -</div>
<p><iframe width="560" height="315" src="https://www.youtube.com/embed/ZPoYWhf6jAo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>

<div class="youtubelist">過去の動画はこちらから♪</div>

<div class="row row-cols-1 row-cols-md-2 g-4">
  <p><iframe width="560" height="315" src="https://www.youtube.com/embed/e3IcHAGLDQY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>
  <p><iframe width="560" height="315" src="https://www.youtube.com/embed/RcJR4YSGows" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>
  <p><iframe width="560" height="315" src="https://www.youtube.com/embed/NUv0t2tor4M" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>
  <p><iframe width="560" height="315" src="https://www.youtube.com/embed/B1UaKGntc-I" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>
  <p><iframe width="560" height="315" src="https://www.youtube.com/embed/_ItCP9qpV30" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>
  <p><iframe width="560" height="315" src="https://www.youtube.com/embed/7ujMjVvBsyM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>
  <p><iframe width="560" height="315" src="https://www.youtube.com/embed/ByKNDslv5ig" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>
  <p><iframe width="560" height="315" src="https://www.youtube.com/embed/-WoeULaTGJM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>
  <p><iframe width="560" height="315" src="https://www.youtube.com/embed/wL8oCG4q9T8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>
  <p><iframe width="560" height="315" src="https://www.youtube.com/embed/TTfQzWvAO4A" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>
</div>
<br><br><br><br><br><br>