<h2>  Youtube
 <%=link_to("https://www.youtube.com/channel/UCktx-AIPTAwz1wWWo-fG3ew") do %>
    <button type="button" class="btn btn-danger" >Youtubeチャンネルはこちらから♪</button>
  <%end%>
</h2>


<br>
<div class="youtubelist">- NEW ARRIVAL -</div>
  <p><iframe width="560" height="315" src="https://www.youtube.com/embed/7mHFduxYnQk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>
<div class="youtubelist">過去の動画はこちらから♪</div>

<div class="row row-cols-1 row-cols-md-2 g-4">
  <p><iframe width="560" height="315" src="https://www.youtube.com/embed/D0M0D4rfEEA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>
  <p><iframe width="560" height="315" src="https://www.youtube.com/embed/hJHDtv9UZxE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>
  <p><iframe width="560" height="315" src="https://www.youtube.com/embed/vxtqJsin-04" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>
  <p><iframe width="560" height="315" src="https://www.youtube.com/embed/2Oz3ajKQBdw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>
  <p><iframe width="560" height="315" src="https://www.youtube.com/embed/hnLYvMIDsis" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>
  <p><iframe width="560" height="315" src="https://www.youtube.com/embed/5LGHUxwMTV4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>
  <p><iframe width="560" height="315" src="https://www.youtube.com/embed/ofKqoe4F_6Y" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>
  <p><iframe width="560" height="315" src="https://www.youtube.com/embed/AzX-r3sjB2Y" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>
  <p><iframe width="560" height="315" src="https://www.youtube.com/embed/bFC246g-dVg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>
</div>
<br><br><br><br><br><br>