<ul class="event">
<h2>Event</h2>
<li class="lili">2021.5.23.SUN @八王子Kayo’s bar w/伊地知晋平(sax) Tipping  <span>※中止となりました。</span></li>
<br>
<li class="lili">2021.5.26.Wed @国分寺M’s w/山本真理子(vocal)佐藤忍(base) <span>※中止となりました。</span></li>
<br>
<li class="lili">2021.5.27.Thu @赤坂G’s bar TOMTOM w/JIMI橋詰(drum)田村さおり(flute)三浦トオル(base) start18:00 Tipping</li>
<br>
<li class="lili">2021.5.28.Fri @荻窪Rooster w/Remi(vo)小和瀬さとみ(vocal)進藤洋樹(gitar) open17:30/start18:00 mc3000</li>
<br>
<li class="lili">2021.5.29.Sat @広尾プラザ w/Remi(vocal)パットグリン(base) <span>※中止となりました。</span></li>
<br>
<li class="lili">2021.5.29.Sat @希望ヶ丘CASK w/松木翠(vocal)中村新太郎(base) start18:00 ツイキャス配信あり(20:30~)</li>
<br>
<li class="lili">2021.5.30.Sun @草加sugar hill w/入山ひとみ(violin) open14:00/start15:00<li>
☆16(水) @日吉WWY

<武藤勇樹(p)トリオ guest須田晶子(vo)>

w/寺尾陽介(b)坂本貴啓(d)

open18:00/start19:00

mc3500



Daytime:2021.06.01.Tue. Place:新宿someday Member:竹内直(ts) old&new jazz dream orchestra[赤塚謙一(tp)山田丈造(tp)忍田耕一(tb)中山拓海(as)伴田裕(ts)大塚義将(b)吉岡大輔(d)]



3(木) @吉祥寺strings

w/酒井麻生代(fl)



9(水) @赤坂G’s bar

<石田裕人(ts)カルテット>

w/山田ヒロシ(b)深水洋(d)



14(月) @下北沢rpm

<ツルジャム>

w/鶴田伸雅(g)TJ(sax)臼井岳(b)植草徳志(d)



15(火) @新高円寺さくたみ

<佐藤忍(b)トリオ　シノブス>

w/坂本貴啓(d)



17(木) @赤坂dot&blue

<赤坂バンド>

w/Kazui(b)鶴田伸雅(g)守真人(d)



18(金) @八王子Kayo’s bar

w/伊地知晋平(ts)



19(土) @池袋P’s bar

w/高井健(vo,g)



20(日) @桐生village

w/小和瀬さとみ(vo)鈴木梨花子(per)



23(水) @吉祥寺strings

w/Remi(vo)冨樫マコト(b)



25(金) @池袋apple jump

w/入山ひとみ(vn)山本裕之(b)



26(土) @町田Nica’s

<西村健司(tb)セクステット>

w/河原真彩(tp)小笠原涼(sax)長谷川慧人(b)大江航平(d)



29(火) @蕨our delight

<ツインピアノ>

w/後藤沙紀(p)
</ul>
<br>
<br><br>

<br><br><br><br><br><br><br><br><br>