<ul class="event">
<h2>Event</h2>
<li class="lili">2021.5.23.SUN @八王子Kayo’s bar w/伊地知晋平(sax) Tipping  <span>※中止となりました。</span></li>
<br>
<li class="lili">2021.5.26.Wed @国分寺M’s w/山本真理子(vocal)佐藤忍(base) <span>※中止となりました。</span></li>
<br>
<li class="lili">2021.5.27.Thu @赤坂G’s bar TOMTOM w/JIMI橋詰(drum)田村さおり(flute)三浦トオル(base) start18:00 Tipping</li>
<br>
<li class="lili">2021.5.28.Fri @荻窪Rooster w/Remi(vo)小和瀬さとみ(vocal)進藤洋樹(gitar) open17:30/start18:00 mc3000</li>
<br>
<li class="lili">2021.5.29.Sat @広尾プラザ w/Remi(vocal)パットグリン(base) <span>※中止となりました。</span></li>
<br>
<li class="lili">2021.5.29.Sat @希望ヶ丘CASK w/松木翠(vocal)中村新太郎(base) start18:00 ツイキャス配信あり(20:30~)</li>
<br>
<li class="lili">2021.5.30.Sun @草加sugar hill w/入山ひとみ(violin) open14:00/start15:00<li>
</ul>
<br>
<br><br>

<br><br><br><br><br><br><br><br><br>