
.flex{
  display: flex;
  margin: 30px;
}

.card-img{
  width: 50vw;
  height: 25vh;
}

.title{
text-align: center;
padding-top: 10px;
color: white;
}

h4{
  text-align: center;
  font-size: larger;
  color: white;
  font-family: monospace;
}

header{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  background-color: 	#000077;
}

.card-deck{
  text-align: center;
}

.card-title{
  text-align: left;
  padding: auto;
  margin: 0 40px;
  color: black;
  font-size: 20px;
}

h2{
  padding: 20px 10px 5px 10px;
  margin: 0px 20px 0px 20px;
  border-bottom: solid 5px grey;
	text-align: left;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}


footer{
  background-color: #000077;
  height: 50px;

}

.top-banner{
	display: flex;
	flex-wrap:wrap;
}

a{
  text-decoration: none;
}

.footertitle{
  text-align: center;
  padding-top: 10px;
  color: white;
  font-size: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


  .Editlink {
    text-decoration: none;
    color: white ;
    font-size: 60px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 800;
  }

.nav-link{
  color: white;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 25px;
}

.nav-item{
  padding: 0px 30px 0px 30px;
}



.Youtube{
  font-size: 40px;
  text-align: center;
}

span{
  color: red;
  font-size: 30px;
}

p{
  text-align: center;
}


.back {
	width:100%; /*画像のはみだしを防ぐ*/
	height: 100%; /*画像の縦横比を維持 */
}



.sample-box {
  position: relative;
}

.good {
  display: flex;
  justify-content: center;
    align-items: center;
  position: absolute;
  top: 0;
  left: 0;
}

.lili{
  text-align: left;
  padding: auto;
  margin-left: 40px;
  color: black;
  border-bottom: solid 3px #000077;
  display: inline-block;
  font-size: 40px;
}
.lilili{
  text-align: left;
  padding: auto;
  margin: 0 45px;
  color: black;
  font-size: 30px;
}

.lililili{
  padding: 20px 10px 0px 10px;
  margin: 0px 20px 20px 20px;
  border-bottom: solid 4px rgb(246, 202, 6);
	text-align: left;
  font-weight: bolder;
  font-size: 50px;
  display: inline-block;
}

.border{
  border: solid 5px red;
}

.box8 {
  padding: 0.5em 1em;
  margin: 2em 0;
  color: #232323;
  background: #fff8e8;
  border-left: solid 10px #ffc06e;
}
.box8 p {
  margin: 0; 
  padding: 0;
}

.readerlive{
  color: red;
  font-size: 40px;
}

.youtubelist{
  padding: 20px 10px 5px 10px;
  margin: 10px 20px 20px 20px;
  text-align: center;
  font-family: sans-serif;
  font-size: 30px;
}
.video{
  margin-top: 10px;
  text-align: center;
}