
      <h2>Biography</h2>
      <br>
          <p><%= image_tag "yuking.png", class:"biography-photo", width:"95%", height:"auto"%></p>
          <div class="card-img-underlay">
            <h2>Profile</h2>
            <br>
            <h5 class="card-title">5歳よりピアノを始めクラシックを学ぶ。</h5>
            <h5 class="card-title">中学高校の吹奏楽ではオーボエを担当。</h5>
            <h5 class="card-title">中央大学在学中にジャズに出会い、同大学のビッグバンド、スウィング•クリスタル•オーケストラに所属。</h5>
            <h5 class="card-title">コンサートマスター及びアレンジを手がけ、第18回太田市ジャズフェスティバルで入賞。</h5>
            <h5 class="card-title">その後都内のライブハウスを中心に活動を始め、2018年6月、1st album「I Loves You, Porgy」をリリース。</h5>
            <h5 class="card-title">現在はジャズに限らず幅広い分野で、演奏やアレンジ、作曲、楽曲提供など、積極的に活動中。</h5>
          </div>
          <br><br><br><br><br><br><br><br>
